<html>
<head>
    <title>Welcome to My Awesome App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Home.css') }}">
</head>
<body>
    <div class="home-container">
        <h1 class="home-heading">Welcome to Home Page</h1>
        <p class="home-description">Explore and Enjoy</p>
        <div class="home-buttons">
            <a href="/page1" class="home-button home-button-primary">Page1</a>
            <a href="/page2" class="home-button home-button-secondary">Page2</a>
        </div>
    </div>
</body>
</html>

