/* Page styling */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    margin: 15;
    padding: 80;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(7, 84, 148);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    margin-left: 4%;
}

header {
    background-color: rgb(7, 84, 148);
    padding: 1.5%;
    position: relative;
}

#wtccHeaderImage {
    width: 160px;
    height: 80px;
    position: absolute; 
    top: 50%; 
    right: 30px; 
    transform: translateY(-50%);
}

/* Form styling */
form {
    margin-top: 5%;
    margin-left: 2rem;
    margin-right: 55%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="url"],
input[type="text"]{
    height: 30px;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}
input[type="file"] {
    height: 35px;
    width: 500px;
    padding: 7px;
   
    border: 1px solid #ccc;
    border-radius: 3px;
    



}

input[type="submit"] {
    background-color: rgb(7, 84, 148);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover {
    background-color: #007bff;
}


/* List of created codes */
h2 {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
p {
    font-size: 12px;
}

