<!DOCTYPE html>
<html lang="en">

    {% extends 'base.html' %}

    {% block title %}URL Shortener{% endblock %}
    {% block main %}

<body>
    <h1>URL Shortener</h1>

    <form action="your_url" method="post">
        <label for="url">Website URL</label>
        <input type="url" name="url" value="" required>
        <br>
        <label for="url">Shortened Name</label>
        <input type="text" name="code" value="" required>
        <br>
        <input type="submit" value="Shorten URL" class="form_button" id="shortenSubmit">

    </form>



    <form action="your_url" method="post" enctype="multipart/form-data">
        <label for="file">File</label>
        <input type="file" name="file" value="" id="fileInput" required>
        <br>
        <label for="code">Shortened Name</label>
        <input type="text" name="code" value="" id="codeName" required>
        <br>
        <input type="submit" value="Shorten URL" class="form_button" id="saveImage">

    </form>

    {% if codes %}
    <h2>Codes you have created</h2>
    <ul>
        {% for code in codes %}
        <a href="{{ url_for('redirect_to_url', code=code) }}"> <!-- Creates link for existing code values-->
            <li>{{ code }}</li>
            {% endfor %}
        </a>
    </ul>
    <form action="/reset_url_list" method="post" style="display: inline;">
        <input type="hidden" name="reset" value="true">
        <button type="submit" class="reset-button">Reset URL List</button>
    </form>
    {% endif %}


    

    {% endblock %}
    </body>

</html>

